<a href="https://colab.research.google.com/github/verdakhalil/IT-criminal/blob/main/DataMining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

AttributeError: ignored

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

# New Section

In [ ]:
import numpy as np
import pandas as pd
print(f.head(5))
print(f)

           bedrooms  bathrooms  sqft_lot  floors  view  condition  yr_built  \
price
313000.0          3       1.50      7912     1.5     0          3      1955
2384000.0         5       2.50      9050     2.0     4          5      1921
342000.0          3       2.00     11947     1.0     0          4      1966
420000.0          3       2.25      8030     1.0     0          4      1963
550000.0          4       2.50     10500     1.0     0          4      1976

           yr_renovated                    street       city  statezip country
price
313000.0           2005      18810 Densmore Ave N  Shoreline  WA 98133     USA
2384000.0             0           709 W Blaine St    Seattle  WA 98119     USA
342000.0              0  26206-26214 143rd Ave SE       Kent  WA 98042     USA
420000.0              0           857 170th Pl NE   Bellevue  WA 98008     USA
550000.0           1992         9105 170th Ave NE    Redmond  WA 98052     USA
              bedrooms  bathrooms  sqft_lot  floors  view  condition  \
price
3.130000e+05         3       1.50      7912     1.5     0          3
2.384000e+06         5       2.50      9050     2.0     4          5
3.420000e+05         3       2.00     11947     1.0     0          4
4.200000e+05         3       2.25      8030     1.0     0          4
5.500000e+05         4       2.50     10500     1.0     0          4
...                ...        ...       ...     ...   ...        ...
3.081667e+05         3       1.75      6360     1.0     0          4
5.343333e+05         3       2.50      7573     2.0     0          3
4.169042e+05         3       2.50      7014     2.0     0          3
2.034000e+05         4       2.00      6630     1.0     0          3
2.206000e+05         3       2.50      8102     2.0     0          4

              yr_built  yr_renovated                    street       city  \
price
3.130000e+05      1955          2005      18810 Densmore Ave N  Shoreline
2.384000e+06      1921             0           709 W Blaine St    Seattle
3.420000e+05      1966             0  26206-26214 143rd Ave SE       Kent
4.200000e+05      1963             0           857 170th Pl NE   Bellevue
5.500000e+05      1976          1992         9105 170th Ave NE    Redmond
...                ...           ...                       ...        ...
3.081667e+05      1954          1979            501 N 143rd St    Seattle
5.343333e+05      1983          2009          14855 SE 10th Pl   Bellevue
4.169042e+05      2009             0          759 Ilwaco Pl NE     Renton
2.034000e+05      1974             0         5148 S Creston St    Seattle
2.206000e+05      1990             0         18717 SE 258th St  Covington

              statezip country
price
3.130000e+05  WA 98133     USA
2.384000e+06  WA 98119     USA
3.420000e+05  WA 98042     USA
4.200000e+05  WA 98008     USA
5.500000e+05  WA 98052     USA
...                ...     ...
3.081667e+05  WA 98133     USA
5.343333e+05  WA 98007     USA
4.169042e+05  WA 98059     USA
2.034000e+05  WA 98178     USA
2.206000e+05  WA 98042     USA

[4600 rows x 12 columns]

In [ ]:
import numpy as np
import pandas as pd
print(f.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         4600 non-null   float64
 1   bedrooms      4600 non-null   int64
 2   bathrooms     4600 non-null   float64
 3   sqft_lot      4600 non-null   int64
 4   floors        4600 non-null   float64
 5   view          4600 non-null   int64
 6   condition     4600 non-null   int64
 7   yr_built      4600 non-null   int64
 8   yr_renovated  4600 non-null   int64
 9   street        4600 non-null   object
 10  city          4600 non-null   object
 11  statezip      4600 non-null   object
 12  country       4600 non-null   object
dtypes: float64(3), int64(6), object(4)
memory usage: 467.3+ KB
None

In [ ]:
import numpy as np
import pandas as pd
print(f.describe())

              price     bedrooms    bathrooms      sqft_lot       floors  \
count  4.600000e+03  4600.000000  4600.000000  4.600000e+03  4600.000000
mean   5.519630e+05     3.400870     2.160815  1.485252e+04     1.512065
std    5.638347e+05     0.908848     0.783781  3.588444e+04     0.538288
min    0.000000e+00     0.000000     0.000000  6.380000e+02     1.000000
25%    3.228750e+05     3.000000     1.750000  5.000750e+03     1.000000
50%    4.609435e+05     3.000000     2.250000  7.683000e+03     1.500000
75%    6.549625e+05     4.000000     2.500000  1.100125e+04     2.000000
max    2.659000e+07     9.000000     8.000000  1.074218e+06     3.500000

              view    condition     yr_built  yr_renovated
count  4600.000000  4600.000000  4600.000000   4600.000000
mean      0.240652     3.451739  1970.786304    808.608261
std       0.778405     0.677230    29.731848    979.414536
min       0.000000     1.000000  1900.000000      0.000000
25%       0.000000     3.000000  1951.000000      0.000000
50%       0.000000     3.000000  1976.000000      0.000000
75%       0.000000     4.000000  1997.000000   1999.000000
max       4.000000     5.000000  2014.000000   2014.000000

In [ ]:
import numpy as np
import pandas as pd
print(f['price'])

0       3.130000e+05
1       2.384000e+06
2       3.420000e+05
3       4.200000e+05
4       5.500000e+05
            ...
4595    3.081667e+05
4596    5.343333e+05
4597    4.169042e+05
4598    2.034000e+05
4599    2.206000e+05
Name: price, Length: 4600, dtype: float64

In [ ]:
import numpy as np
import pandas as pd
print(f.iloc[1,1])

5

In [ ]:
import numpy as np
import pandas as pd
print(f.loc[1,'price'])

2384000.0

In [ ]:
import numpy as np
import pandas as pd
print(f['price']>50000)

0       True
1       True
2       True
3       True
4       True
        ...
4595    True
4596    True
4597    True
4598    True
4599    True
Name: price, Length: 4600, dtype: bool

In [ ]:
import numpy as np
import pandas as pd
column_dict={'price':'newprice'}
print(f)

             price  bedrooms  bathrooms  sqft_lot  floors  view  condition  \
0     3.130000e+05         3       1.50      7912     1.5     0          3
1     2.384000e+06         5       2.50      9050     2.0     4          5
2     3.420000e+05         3       2.00     11947     1.0     0          4
3     4.200000e+05         3       2.25      8030     1.0     0          4
4     5.500000e+05         4       2.50     10500     1.0     0          4
...            ...       ...        ...       ...     ...   ...        ...
4595  3.081667e+05         3       1.75      6360     1.0     0          4
4596  5.343333e+05         3       2.50      7573     2.0     0          3
4597  4.169042e+05         3       2.50      7014     2.0     0          3
4598  2.034000e+05         4       2.00      6630     1.0     0          3
4599  2.206000e+05         3       2.50      8102     2.0     0          4

      yr_built  yr_renovated                    street       city  statezip  \
0         1955          2005      18810 Densmore Ave N  Shoreline  WA 98133
1         1921             0           709 W Blaine St    Seattle  WA 98119
2         1966             0  26206-26214 143rd Ave SE       Kent  WA 98042
3         1963             0           857 170th Pl NE   Bellevue  WA 98008
4         1976          1992         9105 170th Ave NE    Redmond  WA 98052
...        ...           ...                       ...        ...       ...
4595      1954          1979            501 N 143rd St    Seattle  WA 98133
4596      1983          2009          14855 SE 10th Pl   Bellevue  WA 98007
4597      2009             0          759 Ilwaco Pl NE     Renton  WA 98059
4598      1974             0         5148 S Creston St    Seattle  WA 98178
4599      1990             0         18717 SE 258th St  Covington  WA 98042

     country
0        USA
1        USA
2        USA
3        USA
4        USA
...      ...
4595     USA
4596     USA
4597     USA
4598     USA
4599     USA

[4600 rows x 13 columns]

In [ ]:
import numpy as np
import pandas as pd
column_names=['Area']

In [ ]:
import numpy as np
import pandas as pd
f.sort_values('price')

,price,bedrooms,bathrooms,sqft_lot,floors,view,condition,yr_built,yr_renovated,street,city,statezip,country
4472,0.0,4,3.75,19290,2.0,0,3,2002,0,21418 SE 5th Pl,Sammamish,WA 98074,USA
4542,0.0,5,3.50,6895,2.0,0,3,2001,0,34529 SE Jay Ct,Snoqualmie,WA 98065,USA
4481,0.0,5,2.75,6863,2.0,0,3,2013,1923,1301-1303 Monterey Ave NE,Renton,WA 98056,USA
4408,0.0,5,2.25,11965,2.0,0,4,1990,0,25437 163rd Pl SE,Covington,WA 98042,USA
4411,0.0,5,2.25,7900,1.0,0,4,1986,0,3202 S 194th St,SeaTac,WA 98188,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2761,4489000.0,4,3.00,27517,2.0,0,3,2001,0,1149-1199 91st Ave NE,Bellevue,WA 98004,USA
2654,4668000.0,5,6.75,13068,1.0,4,3,1983,2009,5044 Butterworth Rd,Mercer Island,WA 98040,USA
2286,7062500.0,5,4.50,37325,2.0,2,3,1940,2001,4442 95th Ave NE,Bellevue,WA 98004,USA
4346,12899000.0,3,2.50,11394,1.0,0,3,1956,2001,5426 40th Ave W,Seattle,WA 98199,USA
4350,26590000.0,3,2.00,7793,1.0,0,4,1992,0,12005 SE 219th Ct,Kent,WA 98031,USA

In [ ]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
column_names = ['price']
scaler= StandardScaler()
print(f['price'])
# print(f_scaled)

0       3.130000e+05
1       2.384000e+06
2       3.420000e+05
3       4.200000e+05
4       5.500000e+05
            ...
4595    3.081667e+05
4596    5.343333e+05
4597    4.169042e+05
4598    2.034000e+05
4599    2.206000e+05
Name: price, Length: 4600, dtype: float64

In [ ]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
column_names=['price']
scaler=MinMaxScaler()
f_normalized= scaler.fit_transform(f[column_names])
print(f_normalized)
print(f['price'])

[[0.01177134]
 [0.08965777]
 [0.01286198]
 ...
 [0.01567898]
 [0.00764949]
 [0.00829635]]
0       3.130000e+05
1       2.384000e+06
2       3.420000e+05
3       4.200000e+05
4       5.500000e+05
            ...
4595    3.081667e+05
4596    5.343333e+05
4597    4.169042e+05
4598    2.034000e+05
4599    2.206000e+05
Name: price, Length: 4600, dtype: float64

In [ ]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
def add_one(x):
  return x+2
  f['new_column']= f['price'].apply(add_one)
  print(f.head())

In [ ]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
f=pd.DataFrame(f)
f.set_index('price', inplace = True)
print(f)
print(f.head())

              bedrooms  bathrooms  sqft_lot  floors  view  condition  \
price
3.130000e+05         3       1.50      7912     1.5     0          3
2.384000e+06         5       2.50      9050     2.0     4          5
3.420000e+05         3       2.00     11947     1.0     0          4
4.200000e+05         3       2.25      8030     1.0     0          4
5.500000e+05         4       2.50     10500     1.0     0          4
...                ...        ...       ...     ...   ...        ...
3.081667e+05         3       1.75      6360     1.0     0          4
5.343333e+05         3       2.50      7573     2.0     0          3
4.169042e+05         3       2.50      7014     2.0     0          3
2.034000e+05         4       2.00      6630     1.0     0          3
2.206000e+05         3       2.50      8102     2.0     0          4

              yr_built  yr_renovated                    street       city  \
price
3.130000e+05      1955          2005      18810 Densmore Ave N  Shoreline
2.384000e+06      1921             0           709 W Blaine St    Seattle
3.420000e+05      1966             0  26206-26214 143rd Ave SE       Kent
4.200000e+05      1963             0           857 170th Pl NE   Bellevue
5.500000e+05      1976          1992         9105 170th Ave NE    Redmond
...                ...           ...                       ...        ...
3.081667e+05      1954          1979            501 N 143rd St    Seattle
5.343333e+05      1983          2009          14855 SE 10th Pl   Bellevue
4.169042e+05      2009             0          759 Ilwaco Pl NE     Renton
2.034000e+05      1974             0         5148 S Creston St    Seattle
2.206000e+05      1990             0         18717 SE 258th St  Covington

              statezip country
price
3.130000e+05  WA 98133     USA
2.384000e+06  WA 98119     USA
3.420000e+05  WA 98042     USA
4.200000e+05  WA 98008     USA
5.500000e+05  WA 98052     USA
...                ...     ...
3.081667e+05  WA 98133     USA
5.343333e+05  WA 98007     USA
4.169042e+05  WA 98059     USA
2.034000e+05  WA 98178     USA
2.206000e+05  WA 98042     USA

[4600 rows x 12 columns]
           bedrooms  bathrooms  sqft_lot  floors  view  condition  yr_built  \
price
313000.0          3       1.50      7912     1.5     0          3      1955
2384000.0         5       2.50      9050     2.0     4          5      1921
342000.0          3       2.00     11947     1.0     0          4      1966
420000.0          3       2.25      8030     1.0     0          4      1963
550000.0          4       2.50     10500     1.0     0          4      1976

           yr_renovated                    street       city  statezip country
price
313000.0           2005      18810 Densmore Ave N  Shoreline  WA 98133     USA
2384000.0             0           709 W Blaine St    Seattle  WA 98119     USA
342000.0              0  26206-26214 143rd Ave SE       Kent  WA 98042     USA
420000.0              0           857 170th Pl NE   Bellevue  WA 98008     USA
550000.0           1992         9105 170th Ave NE    Redmond  WA 98052     USA

In [ ]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
f_dropped = f.dropna()
print(f)
print(f_dropped)

              bedrooms  bathrooms  sqft_lot  floors  view  condition  \
price
3.130000e+05         3       1.50      7912     1.5     0          3
2.384000e+06         5       2.50      9050     2.0     4          5
3.420000e+05         3       2.00     11947     1.0     0          4
4.200000e+05         3       2.25      8030     1.0     0          4
5.500000e+05         4       2.50     10500     1.0     0          4
...                ...        ...       ...     ...   ...        ...
3.081667e+05         3       1.75      6360     1.0     0          4
5.343333e+05         3       2.50      7573     2.0     0          3
4.169042e+05         3       2.50      7014     2.0     0          3
2.034000e+05         4       2.00      6630     1.0     0          3
2.206000e+05         3       2.50      8102     2.0     0          4

              yr_built  yr_renovated                    street       city  \
price
3.130000e+05      1955          2005      18810 Densmore Ave N  Shoreline
2.384000e+06      1921             0           709 W Blaine St    Seattle
3.420000e+05      1966             0  26206-26214 143rd Ave SE       Kent
4.200000e+05      1963             0           857 170th Pl NE   Bellevue
5.500000e+05      1976          1992         9105 170th Ave NE    Redmond
...                ...           ...                       ...        ...
3.081667e+05      1954          1979            501 N 143rd St    Seattle
5.343333e+05      1983          2009          14855 SE 10th Pl   Bellevue
4.169042e+05      2009             0          759 Ilwaco Pl NE     Renton
2.034000e+05      1974             0         5148 S Creston St    Seattle
2.206000e+05      1990             0         18717 SE 258th St  Covington

              statezip country
price
3.130000e+05  WA 98133     USA
2.384000e+06  WA 98119     USA
3.420000e+05  WA 98042     USA
4.200000e+05  WA 98008     USA
5.500000e+05  WA 98052     USA
...                ...     ...
3.081667e+05  WA 98133     USA
5.343333e+05  WA 98007     USA
4.169042e+05  WA 98059     USA
2.034000e+05  WA 98178     USA
2.206000e+05  WA 98042     USA

[4600 rows x 12 columns]
              bedrooms  bathrooms  sqft_lot  floors  view  condition  \
price
3.130000e+05         3       1.50      7912     1.5     0          3
2.384000e+06         5       2.50      9050     2.0     4          5
3.420000e+05         3       2.00     11947     1.0     0          4
4.200000e+05         3       2.25      8030     1.0     0          4
5.500000e+05         4       2.50     10500     1.0     0          4
...                ...        ...       ...     ...   ...        ...
3.081667e+05         3       1.75      6360     1.0     0          4
5.343333e+05         3       2.50      7573     2.0     0          3
4.169042e+05         3       2.50      7014     2.0     0          3
2.034000e+05         4       2.00      6630     1.0     0          3
2.206000e+05         3       2.50      8102     2.0     0          4

              yr_built  yr_renovated                    street       city  \
price
3.130000e+05      1955          2005      18810 Densmore Ave N  Shoreline
2.384000e+06      1921             0           709 W Blaine St    Seattle
3.420000e+05      1966             0  26206-26214 143rd Ave SE       Kent
4.200000e+05      1963             0           857 170th Pl NE   Bellevue
5.500000e+05      1976          1992         9105 170th Ave NE    Redmond
...                ...           ...                       ...        ...
3.081667e+05      1954          1979            501 N 143rd St    Seattle
5.343333e+05      1983          2009          14855 SE 10th Pl   Bellevue
4.169042e+05      2009             0          759 Ilwaco Pl NE     Renton
2.034000e+05      1974             0         5148 S Creston St    Seattle
2.206000e+05      1990             0         18717 SE 258th St  Covington

              statezip country
price
3.130000e+05  WA 98133     USA
2.384000e+06  WA 98119     USA
3.420000e+05  WA 98042     USA
4.200000e+05  WA 98008     USA
5.500000e+05  WA 98052     USA
...                ...     ...
3.081667e+05  WA 98133     USA
5.343333e+05  WA 98007     USA
4.169042e+05  WA 98059     USA
2.034000e+05  WA 98178     USA
2.206000e+05  WA 98042     USA

[4600 rows x 12 columns]